Package: com.cykey.quickopen
Name: QuickOpen
Depends: mobilesubstrate, preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adds an installs button to the appstore.
Maintainer: Cykey
Author: Cykey
Section: Tweaks
